Dad_Newscasts/*
Diarized_Transcripts/*
whisper_diarized/*
temp/*
temp_audio/*
cropped_audio/*
cropped_text/*
spleeter_output/*
pretrained_models/*
demucs_separated/*
training_data/wavs/*
temp_audio_out/*
LJSpeech-1.1/*
DL-Art-School/*
src/*/
full_sampled_data/*
generated_clips/*
*_recipe.txt
tortoise-tts-fast
LJSpeech-1.1.tar.bz2
*.private
*.pyc