Dad_Newscasts/*
Diarized_Transcripts/*
whisper_diarized/*
temp/*
temp_audio/*
cropped_audio/*
cropped_text/*
spleeter_output/*
pretrained_models/*
demucs_separated/*
demucs_fractured/*
temp_audio_out/*
LJSpeech-1.1/*
DL-Art-School/*
tortoise-tts-fast
LJSpeech-1.1.tar.bz2
*.private
*.pyc